<div class="container-fluid">
    <h1 class="h3 mb-4 text-gray-800">Update Example</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Update Details</h6>
        </div>
        <div class="card-body">
            <form method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label">...</label>
                    <input type="text" class="form-control">
                    <span class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">...</label>
                    <input type="text" class="form-control">
                    <span class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label">...</label>
                    <input type="file" class="form-control">
                    <span class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">
                    <i class="fas fa-save"></i> Update
                </button>
            </form>
        </div>
    </div>
</div>